<section class="experiment">
    <h2>Challenge 2</h2>
    <h3>Srcset Images</h3>
    <p>Responsive image delivery using <code>srcset</code> and <code>sizes</code>.</p>

    <figure>
        <img
            src="{{ url_for('static', filename='images/look1.jpg') }}"
            srcset="{{ url_for('static', filename='images/look1.jpg') }} 480w, {{ url_for('static', filename='images/look2.jpg') }} 960w, {{ url_for('static', filename='images/look3.jpg') }} 1440w"
            sizes="(max-width: 600px) 480px, (max-width: 1200px) 960px, 1440px"
            alt="Responsive research product"
        >
    </figure>
</section>
